body {
    background: #1c1c1c;
    font-family: 'Glegoo', serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 70px;
    overflow-x: hidden;
}


/*---------------------------------------
Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6,
.navbar-default, .btn {
font-family: 'PT Sans Narrow', sans-serif;
font-weight: 400;
}


h1,h2,h3,h4,h5,h6 {
font-weight: 400;
letter-spacing: 1px;
}

h1 {
color: #ffffff;
font-size: 52px;
letter-spacing: 2px;
padding-bottom: 2px;
margin-bottom: 0px;
}

h2 {
color: #f0f0f0;
font-size: 32px;
}

h3 {
color: #535bd4;
font-size: 22px;
line-height: 32px;
padding-bottom: 4px;
}

h4 {
font-weight: bold;
}

p {
color: #999;
font-size: 20px;
font-weight: 300;
line-height: 30px;
}

hr {
border-bottom-color: #999;
width: 100px;
}

.section-btn {
background-color: #000;
border: 2px solid transparent;
border-radius: 100px;
color: #ffffff;
font-size: 18px;
font-weight: bold;
letter-spacing: 1px;
padding: 14px 36px;
margin-top: 26px;
transition: all 0.4s ease-in-out;
}

.section-btn:hover {
background: transparent;
border-top-color: #ffffff;
border-right-color: #222;
border-bottom-color: #ffffff;
border-left-color: #222;
color: #ffffff;
}

.paginate{
    margin-top: 0px;
    position: relative;
}


/*---------------------------------------
General               
-----------------------------------------*/

html{
-webkit-font-smoothing: antialiased;
}

a {
color: #535bd4;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
text-decoration: none !important;
}
a:hover, a:active, a:focus {
color: #3FF;
outline: none;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

::-webkit-scrollbar{
width: 8px;
height: 8px;
}

::-webkit-scrollbar-thumb {
cursor: pointer;
background: #ffffff;
}

.section-title {
position: relative;
padding-bottom: 62px;
text-align: center;
}

#about,
#screenshot,
#divider,
#pricing,
#newsletter {
padding-top: 100px;
padding-bottom: 100px;
}

#divider,
#pricing {
text-align: center;
}

/*---------------------------------------
Divider section              
-----------------------------------------*/

#divider {
background-color: #1dc9e3;
}

#divider p {
color: #666;
font-size: 26px;
line-height: 42px;
}
/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/
@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 980px) {      
h1 {
font-size: 38px;
padding-top: 70px;
}

.section-btn {
padding: 10px 34px 12px;
}

#home, #home .overlay {
height: 60vh;
}

#home .home-thumb {
padding-top: 0px;
}
#home .register-thumb {
padding-top: 0px;
}
}

@media (max-width: 768px) {
h1 {
font-size: 28px;
}

.section-title {
padding-bottom: 32px;
}

#about, #divider,
#screenshot,
#pricing, #newsletter {
padding-top: 60px;
padding-bottom: 60px;
}
}

@media (max-width: 767px) {
body {
padding-top: 0px;
text-align: center;
}

.navbar-default {
text-align: center;
padding-top: 0px;
}

.navbar-default .navbar-brand {
line-height: 20px;
}

.navbar-default .navbar-nav li a {
line-height: 25px;
}

#home, #home .overlay {
height: 100vh;
}

#home img {
position: relative;
display: inline-block;
}

#home .home-thumb {
padding-top: 32px;
padding-left: 0px;
}

#home .register-thumb {
padding-top: 32px;
padding-left: 0px;
}
}

@media (max-width: 650px) {
h1 {
font-size: 28px;
}
h2 {
font-size: 24px;
}
h3 {
font-size: 18px;
}
p {
font-size: 16px;
}
}